# Ignore everything by default
/*

# ───────────────
# ✅ Include only these (whitelist)
!/!!_ESSEKER/
!/@A3XAI/
!/@A3XAI/addons/
!/@BSF_WORK/
!/@Exile/
!/@Exile/addons/
!/@Exile/addons/exile_client/
!/@ExileServer/
!/@ExileServer/addons/
!/@ExileServer/addons/a3_custom/
!/@ExileServer/addons/a3_exile_occupation/
!/@ExileServer/addons/BigfootsShipwrecks/
!/@ExileServer/addons/BSF_Server/
!/@ExileServer/addons/DMS/
!/@ExileServer/addons/exad_dv/
!/@ExileServer/addons/exile_server/
!/@ExileServer/addons/exile_server_config/
!/@ExileServer/addons/JohnOs_events/
!/@ExileServer/addons/SM_Zombz_Code/
!/@EXTDB3/
!/@infiSTAR_Exile/
!/@infiSTAR_Exile/addons/
!/@infiSTAR_Exile/addons/a3_infiSTAR_Exile/
!/@infiSTAR_Exile/addons/infiSTAR_TM/
!/A3Master/
!/battleye/
!/keys/
!/mpmissions/
!/mpmissions/Exile.Esseker/

/@BSF_WORK/addons/BSF_Ammo/
/@BSF_WORK/addons/BSF_Buildings/
/@BSF_WORK/addons/BSF_Gnat/
/@BSF_WORK/addons/BSF_Misc/
/@Exile/addons/exile_assets/
/@ExileServer/addons/!A Backups/
/@infiSTAR_Exile/addons/Backups/
/mpmissions/BACKUPS/
/mpmissions/Scripts/


# git rm -r --cached "@BSF_WORK/Addons/BSF_Client/BSF_Community_Addon/addons/BSF_Client"


# ───────────────
# 🚫 Ignore file types you don't want tracked, even inside whitelisted dirs
*.pbo
*.bikey
# *.log
# *.rpt
*.mdmp
*.bidmp
*.tmp
*.bak
*.paa
*.ogg
*.jpg
*.jpeg
*.png
*.bisign

# ───────────────
# 🚫 Ignore misc/IDE/editor files
.vscode/
.sublime-workspace
.sublime-project
*.code-workspace
